/*reset des marges sur charque appareil*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #ffffff;
}

/*stylisation des elements generaux*/


/*stylisation du header*/

header{
    display: flex;
    justify-content: space-between;
    height: 8rem;
    width: 100%;
    margin: 0 auto;
    background-color: #fffcfc;
    align-items: center;
    padding: 0 6rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.ri-menu-fill{
    font-size: 25px;
    display: none;
}

/*stylisation du logo*/
.ri-code-s-slash-line{
    padding: 5px;
    font-size: 25px;
    background-color: #f35b04;
    border-radius: 100%;
    color: white;
}


 .header_logo a{
    color: rgb(53, 48, 48);
    font-size: 2rem;
    text-decoration: none;
 }

  .header_logo span{
    color: #f35b04;
  }

/*stylisation du menu de navigation*/

header nav ul{
    list-style: none;
    display: flex;
    gap: 4rem;
}
header nav ul li a{
    text-decoration: none;
    color: rgb(78, 74, 74);
    font-size: 1.5rem;
}

header nav ul li a:hover{
    border-bottom: 5px solid #f35b04;
    color: #f35b04;
}

header nav ul li a:active{
    border-bottom: 5px solid #f35b04;
    color: #f35b04;
}

/*stylisation de la selection hero*/
#hero .contenu{
    display: flex;
    justify-content: space-around;
 
    width: 100% ;
    align-items: center;
    padding: 0 8rem;
}

.reseaux{
    font-size: 35px;
    color: rgb(71, 65, 65);
    cursor: pointer;
}



#hero .contenu .right img{
    width: 600px;
}

#hero .contenu .left{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#hero .contenu .left span{
    color: #f35b04;
}

#hero .contenu h1{
    font-size: 3.5rem;
    font-weight: lighter;
}

#hero .contenu button{
    padding: 1rem 2rem;
    border: 2px solid #f35b04;
    color: #f35b04;
    border-radius: 15px;
    font-size: 1.5rem;
    width: 250px;
   
}

#hero .contenu button:hover{
    color: #ffffff;
    cursor: pointer;
    background-color: #f35b04;
    animation:ease-in;
    animation-duration: 0.6ms;
}

/*stylisation de la selection A propos*/
#a_propos{
         background-color: #e6e6e9;
        padding: 6rem 0;
}
#a_propos h2{
    text-align: center;
    color: #f35b04;
    font-size: 4rem;
    padding-bottom: 4rem;
}

#a_propos .contenu{
    display: flex;
    justify-content: space-around;
    gap: 10rem;
    align-items: center;
    padding: 0 8rem;
}

#a_propos .contenu .right img{
    width: 80%;
    height: auto;
    border: 6px solid #f35b04;
    border-radius: 100%;
}

#a_propos .contenu .left{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#a_propos .contenu .left p{
    font-size: 1.7rem;
}

#a_propos .contenu .left span{
    color: #f35b04;
}

#a_propos .contenu button{
    width: 300px;
    background-color: #f35b04;
    padding: 1rem 2rem;
    border: 1px solid transparent;
    border-radius: 15px;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}

#a_propos .contenu button:hover{
    background-color: transparent;
    border: 2px solid #f35b04;
    color: #f35b04;
}

/*stylisation de la selection Projets*/

#projets{
    padding: 6rem 0;
}
#projets h2{
     text-align: center;
    color: #f35b04;
    font-size: 4rem;
    padding-bottom: 4rem;
}

#projets .contenu{
    display: flex;
    justify-content: center;
    gap: 4rem;
    padding: 0 8rem;
}

#box_speciale{
    background-color: white;
}

#projets .contenu .box_projet{
    border: 1px solid transparent;
    border-radius: 15px;
    background-color: #f35c04e5;
    padding: 4rem 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

#projets .contenu .box_speciale{
    border: 1px solid transparent;
    border-radius: 15px;
    background-color: #ffffff;
    padding: 4rem 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}



#projets .contenu .box_projet button{
    width: 100px;
    font-size: 1.3rem;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    padding: 0.5rem 1.5rem;
    font-weight: 600;
       cursor: pointer;
}

#projets .contenu .box_speciale button{
    width: 100px;
    font-size: 1.3rem;
    background-color: #f35b04;
    border: 1px solid transparent;
    border-radius: 5px;
    color: white;
    padding: 0.5rem 1.5rem;
    font-weight: 600;
       cursor: pointer;
}

#projets .contenu .box_projet button:hover{
    background-color: white;
    border: 1px solid transparent;
    color: #f35b04;
}

#projets .contenu .box_projet p{
    font-weight: 600;
    font-size: 1.3rem;
    text-align: center;
    color: rgb(255, 255, 255);  
}

#projets .contenu .box_speciale p{
    font-weight: 600;
    font-size: 1.3rem;
    text-align: center;
    color: rgb(37, 32, 32);  
}

.icone{
    display: flex;
    justify-content: center;
    gap: 2rem;
    font-size: 40px;
}


.ri-html5-fill{
    color:#d00000 ;
}

.ri-css3-fill{
    color: #9a45e0;
}

.ri-javascript-fill{
    color:#ffc300 ;
}


/*stylisation de la section mes competences */

#competences{
     background-color: #e6e6e9;
     padding: 4rem 0;
}

#competences h2{
    text-align: center;
    color: #f35b04;
    font-size: 4rem;
    padding-bottom: 4rem;
}

#competences .contenu{
     display: flex;
    justify-content: center;
    gap: 4rem;
    padding: 4rem 8rem;
}

#competences .contenu   .box_competence{
     border: 1px solid transparent;
    border-radius: 15px;
    background-color: ghostwhite;
    padding: 2rem 8rem 2rem 3rem;
    display: flex;
    flex-direction: column;
    width: 40rem;
    height: auto;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

 .box_competence h3{
    text-align: center;
    color: #f35b04;
    padding-bottom: 2rem;
    font-size: 1.5rem;
    font-weight: 700;
 }

 progress{
    width: 30rem;
 }

 progress::-webkit-progress-value {
    color: #FF7A00;
}


 /*stylisation de la section contact */

 #contact{
    padding: 6rem 0;
    background-image: url("assets/contact_image.jpg");
    background-size: cover;
    background-attachment: fixed;
 }

 #contact .contenu h2{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 3rem;
    margin-bottom: 1.5rem;
 }

 #contact .contenu h2 span{
    color: #f35b04;
 }

 .over{
    position: relative;
    z-index: 999;
    background-color: black;
    opacity: 0.7;
 }
 
 .form_content{
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
 }

 form{
    flex: 1;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    color: whitesmoke;
    font-size: 1.2rem;
 }

 .ligne{
    display: flex;
    gap: 20px;
 }

 .champs1{
    display: flex;
    flex-direction: column;
    color: #fffdfd;
 }

 .champs1 [type="text"]{
    color: whitesmoke;
    padding: 1rem 1rem;
    border: 1px solid transparent;
    border-radius: 5px;
    width: 490px;
 }

.champs [type="text"]{
    width: 235px;
    padding: 1rem 1rem;
    border: 1px solid transparent;
    border-radius: 5px;
 }

 textarea{
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 1rem;
 }

 [type="button"]{
    padding: 1rem 2rem;
    margin-top: 1rem;
    border: 1px solid transparent;
    border-radius: 5px;
    color: #ffffff;
    background-color: #f35b04;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    cursor: pointer;
    font-size: 1.2rem;

 }

 nav.active{
    display: flex;
 }



 /*stylisation du footer*/

footer .contenu{
    display: flex;
    justify-content: space-between;
    padding: 2rem 4rem;
    font-size: 1.3rem;
}



footer .contenu span{
    color: #f35b04;
}

/* Responsive */
@media (max-width: 768px) {
  nav{
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #f3eeee;
    display: none;
    height: 100vh;
    padding: 6rem 4rem;
  }

  .ri-menu-fill{
    font-size: 25px;
    display: flex;
}



  #hero .contenu{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-items: center;
    padding-top: 10rem;
  }



#a_propos{
    margin-top: 10rem;
}
  #a_propos .contenu{
    display: flex;
    flex-direction: column;
  }


  #projets .contenu{
    display: flex;
    flex-direction: column;
  }

  #projets .contenu .box_projet{
    min-width: 30rem;
  }

  #competences .contenu{
    display: flex;
    flex-direction: column;
    padding: 0 4rem;
  }
}



